* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  color: #ededed;
  background: #032c49;
}

.header {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #051129;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: 0 0 5px rgb(174, 0, 255), 0 0 25px rgb(163, 77, 255);
}

.score-container {
  margin-top: 10px;
  display: flex;
  gap: 325px;
  align-items: center;
  user-select: none;
  pointer-events: none;
  cursor: default;
  font-size: 20px;
  color: #0ef;
}

#score {
  margin-right: auto;
}

#high-score {
  margin-left: auto;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideLeft 0.5s ease forwards;
}

.logo:hover {
  color: #ab00ff;
  transition: 0.3s;
}

.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.1s * var(--i));
}

.navbar a:hover {
  color: #ab00ff;
}

.home {
  user-select: none;
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  margin-top: -35px;
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: 0.3s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 0.5s ease forwards;
  animation-delay: 0.3s;
}

.home-content h3 span {
  color: #b624ff;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3 0;
  opacity: 0;
  animation: slideRight 0.5s ease forwards;
  animation-delay: 0.3s;
}

.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 0.5s ease forwards;
  animation-delay: 0.3s;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #b624ff;
  border-radius: 50%;
  font-size: 20px;
  color: #b624ff;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 0.5s ease forwards;
  animation-delay: calc(0.1s * var(--i));
  text-decoration: none;
  margin: 30px 15px 30px 0;
}

.home-sci a:hover {
  background: #b624ff;
  color: aliceblue;
  box-shadow: 0 0 20px #b624ff;
}

.snake-game {
  position: relative;
  opacity: 0;
  animation: slideRight 0.5s ease forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 1px solid rgb(157, 0, 255);
  box-shadow: 0 0 5px #b624ff, 0 0 25px #b624ff;
  background-color: rgba(0,
      0,
      0,
      0.2);

}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #b624ff;
  font-size: 16px;
  border-radius: 40px;
  color: aliceblue;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideBottom 0.5s ease forwards;
  animation-delay: 0.5s;
  box-shadow: 0 0 5px #b624ff, 0 0 25px #b624ff;
}

.btn-box:hover {
  box-shadow: 0 0 5px #b624ff, 0 0 25px #b624ff, 0 0 50px #b624ff, 0 0 100px #b624ff,
    0 0 200px #b624ff;
}


/* section about */
.about-img img {
  box-shadow: 0 0 5px #b624ff, 0 0 25px #b624ff, 0 0 50px #b624ff, 0 0 100px #b624ff;
  margin-top: 200px;
  margin-left: 150px;
  margin-bottom: 25%;
  max-width: 500px;
  height: auto;
  width: 100%;
  border-radius: 50%;
}

.about {
  user-select: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5 rem;
}

.about-text h2 {
  font-size: 60px;
}

.about-text h2 span {
  color: #b624ff;
}

.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 0px 0px 30px;
}

.about-text p {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
  margin-right: 150px;
  text-align: justify;
}

/* section skill */
#services {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

.sub-tittle {
  text-align: center;
  font-size: 60px;
  padding-bottom: 70px;
}

.sub-tittle span {
  color: #b624ff;
}

.container {
  padding: 90px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
  gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: aliceblue;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.read {
  display: inline-block;
  padding: 12px 28px;
  background: #b624ff;
  border-radius: 40px;
  font-size: 16px;
  color: aliceblue;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideBottom 0.5s ease forwards;
  animation-delay: 0.3s;
  box-shadow: 0 0 5px #b624ff, 0 0 25px #b624ff;
}

.read:hover {
  box-shadow: 0 0 5px #b624ff, 0 0 25px #b624ff, 0 0 50px #b624ff, 0 0 100px #b624ff,
    0 0 200px #b624ff;
}

.services-list div:hover{
  transform: translateY(-15px);
}



@keyframes slideLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}